@model IEnumerable<Library.Models.Person>


    <style>
        .fa.button{
            padding-right:5px;
            padding-left:5px;
        }

    .fa.button:hover{
        opacity: 0.7;
        cursor:pointer;
    }

    </style>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
             @item.Balance.ToString("#,0")
        </td>
        <td>
            <i class="fa fa-pencil button" data-toggle="tooltip"  title="Edit" style="color:blue;" onclick="edit(@item.Id)"></i>
            <i class="fa fa-info button" data-toggle="tooltip" title="Detail" style="color:darkgoldenrod;"></i>
            <i class="fa fa-trash-o button" data-toggle="tooltip" title="Delete" style="color:red;" onclick="deletePerson(@item.Id, '@item.FirstName', '@item.LastName', event)"></i>
            <i class="fa fa-check button" data-toggle="tooltip" title="Balance increase" style="color:green;" onclick="balanceIncrement(@item.Id)"></i>
        </td>
    </tr>
}
