@using Library.Models.Command;
@model DecreaseBalanceTeacher
@{
    Layout = null;
}
<form method="post" id="balance-form">

    @Html.HiddenFor(x => x.Id)

    <div class="row g-3">
        <label>Increament for: <strong style="color:blue">@Model.FirstName  @Model.LastName</strong></label>
    </div>

    <div class="row g-3">
        <div class="col-sm-8">
            @Html.TextBox(nameof(Model.Balance),"", new {@class="form-control", @placeholder=Html.DisplayNameFor(x => x.Balance),
            oninput = "updateFinalValue("+Model.Balance+")", @value = ""})
            @Html.ValidationMessageFor(x => x.Balance, "",new{@class="text-danger"})
        </div>
    </div>

    <div class="row g-3">
        <label>Previous balance: <strong style="color:blue">@Model.Balance.ToString("#,0")</strong></label>
    </div>

    <div class="row g-3">
        <label>
            Balance after increment:
            <strong id="new-balance" style="color:blue">
                @Model.Balance
            </strong>
        </label>
    </div>

</form>

@*<script>

    function updateFinalValue(previousBalance) {

        var addedBalance = $("#Balance").val();
        var newBalance = parseInt(addedBalance) + previousBalance;
        $("#new-balance").html(newBalance);

    }


</script>*@
