@model LoginCommand

<h1>Login Page</h1>


<form method="post">

    <div class="row g-3">
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.UserName,"", new {@class="form-control", @placeholder=Html.DisplayNameFor(x => x.UserName)})
            @Html.ValidationMessageFor(x => x.UserName, "",new{@class="text-danger"})
        </div>
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.Password,"", new {@class="form-control", @placeholder=Html.DisplayNameFor(x => x.Password)})
            @Html.ValidationMessageFor(x => x.Password, "",new{@class="text-danger"})
        </div>
    </div>
    @Html.HiddenFor(x => x.ReturnUrl)
    <div class="row g-3">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @(ViewBag.Error)
            </div>
        }
    </div>

    <div class="row g-3">
        <div class="col-sm-5">
            <input type="submit" class="btn btn-success"  value="Login"/>
        </div>
    </div>

</form>